{% extends "base.html" %}

{% block content %}

<h1>Delete Contact</h1>

<p>Are you sure you want to delete the contact {{ contact }}?</p>

<form action="{% url "contacts-delete" pk=contact.id %}" method="POST">
  {% csrf_token %}

  <input type="submit" value="Yes, delete." />
  <a href="{% url "contacts-list" %}">No, cancel.</a>
</form>

{% endblock %}

<!--
https://www.glassdoor.com/job-listing/lead-software-engineer-mcgraw-hill-education-JV_IC1154532_KO0,22_KE23,44.htm?jl=1789274190&utm_source=jobalert&utm_medium=email&utm_content=ja-jobtitle&utm_campaign=jobAlertAlert


https://www.glassdoor.com/job-listing/senior-software-engineer-harvard-university-JV_IC1154532_KO0,24_KE25,43.htm?jl=1789900675&utm_source=jobalert&utm_medium=email&utm_content=ja-jobtitle&utm_campaign=jobAlertAlert


https://www.glassdoor.com/job-listing/senior-software-engineer-harvard-business-school-JV_IC1154532_KO0,24_KE25,48.htm?jl=1789149632&utm_source=jobalert&utm_medium=email&utm_content=ja-jobtitle&utm_campaign=jobAlertAlert
-->